@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
:root{
    --gradient-color: linear-gradient(to bottom right, rgba(22, 187, 72, 0.938), rgb(231, 186, 36));
}
html{
    font-size:10px;
}
.headtitle{
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-bottom: 2rem;
    font-family: 'Courgette', cursive;
    font-size: 4rem;
    text-shadow: 0 1px 0 #ccc,
    0 2px 0 #c9c9c9,
    0 3px 0 #bbb,
    0 4px 0 #b9b9b9,
    0 5px 0 #aaa,
    0 6px 1px rgba(0,0,0,.1),
    0 0 5px rgba(0,0,0,.1),
    0 1px 3px rgba(0,0,0,.3),
    0 3px 5px rgba(0,0,0,.2),
    0 5px 10px rgba(0,0,0,.25),
    0 10px 10px rgba(0,0,0,.2),
    0 20px 20px rgba(0,0,0,.15);
}


a{
    text-decoration: none;
    color: inherit;
}
body{
    font-family:'open sans', 'san serif';
    font-size: 1.6rem;
    color: #333;
    /* background-color: #eee; */
    width: 100%;
    /* height: 100vh; */
    /* display: flex; */
    align-items: center;
    justify-content: center;
    /* padding: 0 1.5rem; */
}
.float-container{
    justify-content: center;
    align-items: center;
    padding: 1rem;

}
.card-2{
    flex-direction:column;
    background-color: #fff;
}

.float-child {
    padding: 20px;
    border: 2px solid rgb(138, 132, 132);
    border-radius: 2rem;
    margin: .8rem;
}
.image-data{
    height: 25rem;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.background-image{
    width: 100%;
    height: 100%;
    position: relative;
    top: 0;
    left: 0;
    background: center no-repeat;
    background-size: cover;
    z-index: -1;
    transition: transform 5s;
}

.card:hover .background-image{
    transform: scale(1.5);
}

.publication-details{
    width: 100%;
    height: 100%;
    background:var(--gradient-color);
    font-size: 1.4rem;
    font-weight: bold;
    color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    padding:1rem;
}
.publication-details i{
    margin-right: 1rem;
}

.author{
    display: inline-block;
    margin-bottom: .5rem;
    transition: all .5s .3s;
}
.author:hover{
    color: rgba(255,255,255,.75);
}
.date{
    display: block;
}
.post-data{
    background-color: #fff;
    padding: 2rem 3rem;
    position: relative;
}
.title{
    font-size: 3rem;
    line-height: 1;
}
.subtitle{
    font-size: 1.2rem;
    font-weight: 400;
    text-transform: uppercase;
    color: #a2a2a2;
    margin: 1rem 0 1.5rem 0;
}
.description{
    position: relative;
}
.description::first-letter{
    margin-left: 1rem;
}

.description::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: .5rem;
    height: 2.5rem;
    background: var(--gradient-color);
    border-radius: 2rem;
}

.cta{
    text-align: right;
    font-weight: bold;
    margin-top: 1rem;
}

.cta a{
    background: var(--gradient-color);
    -webkit-background-clip: text;
    color: transparent;
    position: relative;
}

.cta a::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -.5rem;
    width: 100%;
    height: 3px;
    background: var(--gradient-color);
    transform: scaleX(0);
    transform-origin: left;
    transition: transform .5s;
}
.cta a:hover::before{
    transform: scaleX(1);
}
.shadow {
    /* width:350px;height:200px; */
    /* border: solid 1px #555; */
    /* background-color: #eed; */
    box-shadow: 10px 10px 100px rgba(219, 218, 218, 0.6);
    -moz-box-shadow: 0 0 10px rgba(223, 215, 215, 0.6);
    -webkit-box-shadow: 0 0 10px rgba(206, 202, 202, 0.6);
    -o-box-shadow: 10px 10px 10px rgba(235, 227, 227, 0.6);
}



@media screen and (min-width: 950px){
    .float-container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;
    }
    .card{
        display:flex;
        flex-direction: row;
        max-width: 100%;
    }
    .image-data{
        flex-basis: 60%;
        height: unset;
    }
    .publication-details{
        transform: translateX(-100%);
        transition: transform .5s;
    }
    .card:hover .publication-details{
        transform: translateX(0);
    }
    .author{
        transform: translateY(-3rem);
        opacity: 0;
        transition-delay: .3s;
    }
    .date{
        transform: translateY(3rem);
        opacity: 0;
        transition: all .5s .3s;
    }
    .card:hover .author,
    .card:hover .date{
        transform: translateY(0);
        opacity: 1;
    }
    .post-data{
        flex-basis: 60%;
    }

    .post-data::before{
        content: '';
        width: 2.9rem;
        height: 100%;
        background-color: red;
        position: absolute;
        top:0;
        left: -1.5rem;
        z-index: 10;
        transform: skewX(-5deg);
    }
}
.test{
    float: left;
    width: 100%;
}

@media only screen and (max-width: 950px) and (min-width: 500px){
    .float-container{
        display: block;
        justify-content: center;
        align-items: center;
    }
    .card{
        display: inline-flex;
        flex-direction: row;
        max-width: 95rem;
    }
    .image-data{
        flex-basis: 40%;
        height: unset;
    }
    .publication-details{
        transform: translateX(-100%);
        transition: transform .5s;
    }
    .card:hover .publication-details{
        transform: translateX(0);
    }
    .author{
        transform: translateY(-3rem);
        opacity: 0;
        transition-delay: .3s;
    }
    .date{
        transform: translateY(3rem);
        opacity: 0;
        transition: all .5s .3s;
    }
    .card:hover .author,
    .card:hover .date{
        transform: translateY(0);
        opacity: 1;
    }
    .post-data{
        flex-basis: 60%;
    }

    .post-data::before{
        content: '';
        width: 2.9rem;
        height: 100%;
        background-color: red;
        position: absolute;
        top:0;
        left: -1.5rem;
        z-index: 10;
        transform: skewX(-5deg);
    }

}
