@import url('https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&display=swap');
.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    width: 100%;
    padding-right: var(--bs-gutter-x,.75rem);
    padding-left: var(--bs-gutter-x,.75rem);
    max-width: 100%;
    margin: auto;
    overflow: hidden;
    position: absolute;
    margin-top: 2rem;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.user-info{
    position: fixed;
    float: left;
    margin-left: 2.5rem;
    margin-top: 16rem;
    left: 1rem;
    visibility: visible;
    z-index: 12;
    font-family: 'Akaya Kanadaka', 'cursive';
}


.comt{
    padding-left: 2rem;
    font-size: 5rem;
    color: grey;
    cursor: pointer;
}
.hidden{
    visibility: hidden;
}

.btn-user{
    background-color: rgba(26, 137, 23, 1);
    border-radius: .5rem;
    color: white;
}

html{
    overflow-x: hidden;
}

p{
    font-family: 'Comfortaa', cursive;
    font-size: large;
}
.cimg{
    border: 1px solid #c6720b;
    float: left;
    height: 50px;
    border-radius: 50%;

}
.blog-post-meta{
    float: right;

}

.responsive {
    width: 100%;
    height: auto;
}

.sidenav{
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
    background-color: rgb(225, 234, 236);
    overflow-x:hidden;
    padding-top: 1.5rem;
    transition: all 0.5s;
}

.sidenav a{
    text-decoration: none;
    font-size: 4rem;
    color: #fff;
    display: block;
    padding-top: 30px 0 30px 20px;
}
.sidenav a:hover{
    color: rgba(255,255,255,0.7);
}

.closebtn{
    position: absolute;
    top: 0;
    left: 25px;
    font-size: 45px!important;
}
.fa-comment:hover{
    color: rgb(202, 229, 240);
}
.fa-comment:before{
    font-size: 2rem;
    padding-top:.5rem ;
    position: absolute;
    margin-top: -1.9rem;
}
/* .btn-cmt{
    border: 1px solid green;
} */
@media only screen and (max-width: 768px) {
    .user-info{
        visibility: hidden;
    }

}
@media only screen and (min-width: 767px) {
    .mobile-comt{
        display: none;
    }

}