@font-face {
    font-family: mindsagacustom;
    src: url(../fonts/Gistesy.ttf);
}

a{
    color: #ffffff;
}
.fieldinfo{
    color: rgb(251,174,44);
    font-family: Bitter,Georgia,"Times New Roman",Times,serif;
    font-size: 1.2em;
}
.CommentBackground{
    background-color: #ff8c00;
}
html, body {
    max-width: 100%;
    overflow-x: hidden;
}
.navbar{
    background-image:linear-gradient(90deg, #1B80B2 ,#6606BB);
}
.navbar-brand{
    font-family: gistesy, sans-serif;
    font-weight: bolder;
    font-size: 2rem;
    color: white;
    padding-right: 4rem;
}
.container{
    padding-top: 10px;
}
.card-img-top{
    padding: 2rem;
}
.card-title{
    margin-top:-2rem ;
}
.card-text{
    padding-top: 1rem;
}
.text-center{
    padding: 0rem;
}
.badge{
    margin-top: 0.5rem;
    float: right;
    position: relative;
}
.lefty{
    position: relative;
    float: left;
}
.me-2{
    margin-right: 7.5rem!important;
}
.test{
    float: left;
    width: 100%;
}
.margin{
    margin-bottom: 0.5rem;
}

.flip-card {
    width: 195px;
    height: 130px;
    perspective: 1000px; 
    background-color: white; 
  }
  

  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  

  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
 
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; 
    backface-visibility: hidden;
  }
  

  .flip-card-front {
    background: linear-gradient(90deg,#070018,#190053);
      color: white;
  }
  

  .flip-card-back {
    background: linear-gradient(90deg,#070018,#190053);
    color: white;
    transform: rotateY(180deg);
  }


  .styled-table{
    box-shadow: 8px 8px 10px #a89bc7;
    margin-left: -60px;
  }

  .styled-table thead tr {
    background-color: #190053;
    color: #ffffff;
    text-align: left;
}
.styled-table th{
    padding: 12px 15px;
}
thead tr th{
    position: sticky;
    top: 0;
    z-index: 5;
}
tbody tr td:nth-child(2){
    position: sticky;
    left: 0;
    z-index: 6;
    background-color: whitesmoke;
}
thead tr th:nth-child(2){
    position: sticky;
    left: 0;
    z-index: 5;
    background-color: #190053;
}

.styled-table td {
    padding: 12px 15px;
}
.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
  }

@media only screen and (max-width: 600px){
    .styled-table{
        box-shadow: 8px 8px 5px #a89bc7;
        margin-left: -60px;
    }
}
@media only screen and (min-width: 600px){
    .styled-table{
        box-shadow: 8px 8px 5px #a89bc7;
        margin-left: -30px;
    }
}
@media only screen and (min-width: 992px){
    .styled-table{
        box-shadow: 8px 8px 5px #a89bc7;
        margin-left: -10px;
    }
}

/*testing for comments.php*/
.custom-thead thead tr {
    background-color: #190053;
    color: #ffffff;
    text-align: left;
}