.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    width: 100%;
    /* padding-right: var(--bs-gutter-x,.75rem);
    padding-left: var(--bs-gutter-x,.75rem); */
    /* margin-right: auto;
    margin-left: auto; */
}    

.user-info{
    position: absolute;
    float: left;
    top: 40%;
    left: 5rem;
    position: sticky;
    visibility: visible;
}


.btn-user{
    background-color: rgba(26, 137, 23, 1);
    border-radius: .5rem;
    color: white;
}

html{
    overflow-x: hidden;
}

p{
    font-family: 'Comfortaa', cursive;
    font-size: large;
}
.cimg{
   float: left;
   padding-right: 0.5rem;
  
}
.blog-post-meta{
    float: right;
    
    
}
/* .btn-secondary{
    float: right;
    margin-top: -5rem;
    margin-right: 23rem;
    display: flex;
   
} */
.responsive {
    width: 100%;
    height: auto;
    padding: 1rem 0 1rem 0rem;
  }


@media only screen and (max-width: 1220px) {
    .user-info{
       visibility: hidden;
    }
   
}
/* @media only screen and (min-width: 1220px) {
    .user-info{
        opacity: 1;
    }
   
} */
@media only screen and (max-width: 767px){
    .container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        width: 100%;
        padding-right: var(--bs-gutter-x,.75rem);
        padding-left: var(--bs-gutter-x,.75rem);
        margin-right: auto;
        margin-left: auto;
    }    
    
    
    
    .btn-user{
        background-color: rgba(26, 137, 23, 1);
        border-radius: .5rem;
        color: white;
    }
    
    html{
        overflow-x: hidden;
    }
    
    p{
        font-family: 'Comfortaa', cursive;
        font-size: large;
    }
    .cimg{
       float: left;
       padding-right: 0.5rem;
      
    }
    .blog-post-meta{
        float: right;
        
        
    }
    /* .btn-secondary{
        float: right;
        margin-top: -5rem;
        margin-right: 23rem;
        display: flex;
       
    } */
    .responsive {
        width: 100%;
        height: auto;
        padding: 1rem 0 1rem 0rem;
      }
    
}
